.todo {
    width: 100%;
    background-color: var(--input-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000050;
    transition: .5s;
}

.todo p {
    color: var(--text-color);
    font-weight: 800;
}

.buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.buttons_container button {
    height: 30px;
    width: 30px;
    background-color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.buttons_container button svg {
    color: var(--input-color);
    font-size: 1.5em;
}

.buttons_container button:hover {
    background-color: var(--input-color);    
}

.buttons_container button:hover > svg {
    color: var(--text-color);
}

.done {
    background-color: var(--done-todo);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000050;
}

.done p {
    color: var(--done-todo-text);
    text-decoration: line-through;
    font-weight: 800;
}