.mode_container {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mode_container h1 {
    color: var(--text-color);
    font-weight: 200;
    font-size: 2em;
}

.icon_container {
    background-color: transparent;
    border: none;
    padding: 1em;
}

.icon_container svg {
    color: var(--text-color);
    font-size: 2em;
    cursor: pointer;
}