:root {
    --body-bg: #161722;
    --text-color: #fff;
    --input-color: #25273c;
    --done-todo: #393a4c;
    --done-todo-text: #999;
}

.light-mode:root {
    --body-bg: #e4e5f1;
    --text-color: #222;
    --input-color: #fafafa;
    --done-todo: hsl(234, 39%, 85%);
    --done-todo-text: #777;
}

.section_principal {
    padding: 2em 1em;
    min-height: 100vh;
    width: 100%;
    background-color: var(--body-bg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    transition: .5s;
}

.todos_container {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media screen and (max-width: 500px) {
    .todos_container {
        width: 100%;
    }
}